# Use docker compose v2 for non swarm deployments
# https://docs.docker.com/compose/compose-file/compose-file-v2/
version: '2.4'

services:

  jekyll:
    build: .
    container_name: jekyll-cc-resource-archive
    ports:
      - '4000:4000'
    restart: always
    tty: true
    volumes:
      # https://github.com/docker/for-mac/issues/1592
      - ./docs:/srv/jekyll
