/* Importing vocabulary.css */
@import "/_assets/vocabulary/css/vocabulary.css" layer(vocabulary);

/* CSS for All Pages */
body {
  font-family: sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 0 0 0;
}

/* Styles for listing.html and submission.html*/
.main-content a {
  color: #40ae49;
  cursor: pointer;
}

h1 {
  text-align: center;
}

/* Styles for listing.html resource thumbnail cards */
#thumbnaillist {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: 4em 0 8em;
  padding: 4em var(--vocabulary-page-edges-space);
  gap: 5%;
  box-sizing: border-box;

  width: 100%;
  height: fit-content;
  background: var(--vocabulary-neutral-color-lighter-gray);
}

.thumbnailbox {
  grid-column: span 3;
  border: 2px solid black;
}

.thumbnailLink {
  text-decoration: none;
}

.thumbnail {
  width: 100%;
  aspect-ratio: 200/150;
  margin: 0 auto;
}

.thumbnailtitle {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5vw;
  color: var(--vocabulary-brand-color-dark-tomato);
  --underline-background-color: var(--vocabulary-neutral-color-lighter-gray);
  --underline-color: var(--vocabulary-brand-color-dark-tomato);
}

.thumbnailblurb {
  height: 100px;
  padding: 5px;
}

/* Styles For resource.html */
#preview {
  width: 500px;
  height: 375px;
  margin: 0 auto;
  background-image: url(/_assets/images/placeholder-500.gif);
  border-radius: 25px;
}

#downloadbuttonholder {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}

#longdescription {
  max-width: 500px;
  margin: 0 auto;
  border: 2px solid #c0c0c0;
  border-radius: 25px;
  padding: 10px;
}

.downloadbutton {
  min-width: 150px;
  width: max-content;
  height: 70%;
  padding: 0 5px;
  border-radius: 8px;
  background-color: #40ae49;
  display: flex;
  justify-content: center;
  align-items: center;
}

.downloadbutton p {
  height: 100%;
  margin: 0;
  font-size: 130%;
  line-height: 75px;
  color: white;
}

/* Styles For index.html and all.html */
#resourcenavbar {
  height: fit-content;
  margin: 0 auto 100px;
  display: flex;
  justify-content: center;
}

.resourcenav {
  width: 200px;
  height: fit-content;
  display: none;
}

.resourcenav.resourcenavstatic {
  display: block;
}

#bannercc {
  width: 210px;
  height: 50px;
  margin-left: 100px;
}

/* Styles For footer.html */
footer a {
  color: var(--vocabulary-brand-color-turquoise);
}

footer .donate a {
  color: #000;
}

/* Media Queries for responsiveness */
@media screen and (max-width: 600px) {
  #resourcenavbar {
    flex-direction: column;
  }
}
