body {
font-family: sans-serif; 
margin: 0;
padding: 0;
}

/* STYLES FOR GLOBAL HEADER */

#cc-main {
    width: 250px;
    display: block;
}

#global-header {
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
    background-color: #000000;
    color: #ffffff;
    padding: 2.5% 7.5% 2.5%;
    margin-bottom: -50px;
    transform: translateY(-100%);
    transition: transform 1.4s ease, margin-bottom 1.4s ease;
} 

#global-header.active {
    margin-bottom: 50px;
    transform: translateY(0);
    transition: transform 0.7s ease, margin-bottom 0.7s ease;
}

#global-header .container{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease;
}

#global-header.active .container{
    max-height: 100%;
}

#global-header-btn {
    background-color: #000000;
    color: #ffffff;
    position: absolute;
    bottom: -2rem;
    right: 10%;
    padding: 5px 5px 10px;
    border: none;
    border-radius: 0 0 5px 5px;
}

#global-header-btn:hover {
    text-decoration: underline;
    text-decoration-color: white;
    cursor: pointer;
}

#global-header-content {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 25% 75%;
    gap: 10px;
}

#global-header-head h3 {
    margin: 1% 0% -2%;
    font-weight: bold;
}

#global-header-donate {
    display: block;
    position: relative;
    text-align: center;
    margin-top: 40px;
    padding: 10px 10px 10px 35px;
    width: fit-content;
    text-decoration: none;
    background-color: #FBD43C;
    color: #000000;
    font-weight: bold;
}

#cc-heart{
    width: 20px;
    position: absolute;
    left: 10px;
}

#global-header-list {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}

#global-header-link {
    text-decoration: none;
    color: #ffffff;
    min-width: fit-content;
}

#global-header-link:hover {
    text-decoration: underline;
}

#global-header-title {
    color: #05ACC7;
    font-weight: bold;
}

#global-header-link:hover #global-header-title {
    text-decoration: underline;
    text-decoration-color: #05ACC7;
}

@media screen and (max-width: 768px) {

    #global-header {
        padding: 2%;
    }

    #cc-main {
        display: block;
        margin: auto;
    }

    #global-header-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #global-header-donate {
        margin: auto;
    }

    #global-header-head {
        text-align: center;
        margin-bottom: 5%;
    }

    #global-header-head p {
        margin-top: 2%;
    }
}

/* STYLES FOR MAIN CONTENT */

a {
color: #40ae49;
cursor:pointer;
}

h1 {
text-align: center;
}

#thumbnaillist {
max-width: 900px;
min-width: 250px;
margin: 0 auto;
}

#preview {
width: 500px;
height: 375px;
margin: 0 auto;
background-image: url(/images/placeholder-500.gif);
border-radius: 25px;
}

#downloadbuttonholder {
height: 100px;
margin: 10px auto;
}

#longdescription {
max-width: 500px;
margin: 0 auto;
border: 2px solid #C0C0C0;
border-radius: 25px;
padding: 10px;
}

.thumbnailbox {
width: 200px;
float: left;
display: block;
border-radius: 25px;
border: 2px solid #C0C0C0;
margin: 5px;
}

.thumbnailLink {
    text-decoration: none;
}

.thumbnailtitle {
text-align: center;
height: 75px;
}

.thumbnailblurb {
height: 100px;
padding: 5px;
}

.thumbnail {
width: 200px;
height: 150px;
margin: 0 auto;
}

.downloadbutton {
width: 200px;
height: 100px;
float: left;
border-radius: 12px;
background-color: #40ae49;
float: left;
display: table-cell;
vertical-align: middle;
text-align: center;
display: table-cell;
margin: 0 10px;
}

.downloadbutton p {
margin: 0;
font-size: 200%;
line-height: 100px;
color: white;
}

#resourcenavbar {
width: 600px;
height: 150px;
margin: 0 auto 100px;
}

.resourcenav {
width: 200px;
height: 150px;
float: left;
display: none;
}

.resourcenav.resourcenavstatic {
display: block;
}

#bannercc {
width: 210px;
height: 50px;
background-image: url(/images/cc-green-210.gif);
margin-left: 100px;
}