@import 'vocabulary/css/vocabulary.css' layer(vocabulary);

body {
font-family: sans-serif; 
margin: 0;
display: flex;
flex-direction: column;
padding: 0 0 0;
}

/* STYLES FOR MAIN CONTENT */

.main-content a {
color: #40ae49;
cursor:pointer;
}

h1 {
text-align: center;
}

#thumbnaillist {
max-width: 900px;
min-width: 250px;
margin: 0 auto;
}

#preview {
width: 500px;
height: 375px;
margin: 0 auto;
background-image: url(/images/placeholder-500.gif);
border-radius: 25px;
}

#downloadbuttonholder {
height: 100px;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
margin: 10px auto;
}

#longdescription {
max-width: 500px;
margin: 0 auto;
border: 2px solid #C0C0C0;
border-radius: 25px;
padding: 10px;
}

.thumbnailbox {
width: 200px;
float: left;
display: block;
border-radius: 25px;
border: 2px solid #C0C0C0;
margin: 5px;
}

.thumbnailLink {
    text-decoration: none;
}

.thumbnailtitle {
text-align: center;
height: 75px;
}

.thumbnailblurb {
height: 100px;
padding: 5px;
}

.thumbnail {
width: 200px;
height: 150px;
margin: 0 auto;
}

.downloadbutton {
min-width: 230px;
width: max-content;
height: 100%;
padding: 0 10px;
border-radius: 12px;
background-color: #40ae49;
display: flex;
justify-content: center;
align-items: center;
}

.downloadbutton p {
height: 100%;
margin: 0;
font-size: 200%;
line-height: 100px;
color: white;
}

#resourcenavbar {
height: fit-content;
margin: 0 auto 100px;
display: flex;
justify-content: center;
}

.resourcenav {
width: 200px;
height: fit-content;
display: none;
}

.resourcenav.resourcenavstatic {
display: block;
}

#bannercc {
width: 210px;
height: 50px;
background-image: url(/images/cc-green-210.gif);
margin-left: 100px;
}

footer a {
    color: var(--vocabulary-brand-color-turquoise);
}

footer .donate a {
    color: #000;
}

@media screen and (max-width: 600px) {
    #resourcenavbar {
        flex-direction: column;
    }
}
